@charset "UTF-8";

.relative{
    position: relative;
}

html {
    font-size: 10px
}

html[data-dpr="1"] .fixed-100, html[data-dpr="1"] body {
    max-width: 640px
}

body {
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    font: 1.2rem/1.5 "Helvetica Neue", Helvetica, STHeiTi, "Droid Sans Fallback", "Microsoft YaHei";
    color: #000;
    -webkit-text-size-adjust: none !important;
    z-index:1;
        
        
}

aside, figure, footer, header, nav, section {
    display: block;
    margin: 0;
    padding: 0;
    position: relative
}



h1, h2, h3 {
    display: block;
    margin: 0;
    padding: 0;
    font-weight: 400
}

dd, dl, dt, li, p, ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none
}

button, input, textarea {
    display: block;
    -webkit-appearance: none;
    outline: 0;
    border-radius: 0;
    font: 1.2rem/1.5 "Helvetica Neue", Helvetica, STHeiTi, "Droid Sans Fallback", "Microsoft YaHei"
}


html,body,div,span,h1,h2,h3,h4,h5,h6,p,pre,a,code,em,img,small,strong,sub,sup,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label{color:#000;margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}

a {
    text-decoration: none;
    color: #000
}

#mask{
    position: absolute;
    top:0;
    z-index: 90;
    width: 100%;
    height: 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
    background: rgba(0,0,0,.6);
    opacity: 1;
}
.hide {
    display: none
}

.show {
    display: block
}


.fixed-100 {
    position: fixed;
    width: 100%;
    min-width: 320px;
    max-width: 640px;
    top: 0;
    bottom: 0
}
.confirm-single-btn {
    top: auto;
    line-height: 4.4rem;
    text-align: center;
    font-size: 1.7rem;
    background: #dc1e32;
    color: #fff;
    z-index: 1
}
.confirm-single-btn:active {
    background: #a40000
}

.select-roll {
    top: auto;
    color: #fff;
    z-index: 99
}

.select-roll.double .swiper-container {
    width: 49.99%;
    float: left
}

.select-roll.double .selclass2 {
    float: right
}

.select-roll.triple .swiper-container {
    background: #fff;
    width: 100%;
}

.select-roll.triple .selclass3 {
    float: right
}

.select-roll .meta {
    line-height: 4.4rem;
    text-indent: 1rem
}

.select-roll .meta .title {
    background: #fff;
    font-size: 1.6rem
}

.select-roll .meta .close {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    top: 50%;
    right: 1rem;
    margin-top: -2.5rem;
}

.select-roll .meta-two {
    line-height: 4.4rem;
    text-indent: 1rem
}

.select-roll .meta-two .title {
    font-size: 1.6rem;
    border-top: 2px solid #5a5a5a
}

.select-roll .hot-list {
    height: 8.6rem;
    padding: 0 .5rem;
    padding-bottom: 1rem
}

.select-roll .hot-list li {
    float: left;
    border: 1px solid #595959;
    line-height: 3.2rem;
    width: 29%;
    text-align: center;
    margin: .5rem;
    color: #a7aaac;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.select-roll .hot-list li.clicked {
    background: #dc1e32;
    color: #fff;
    border: 1px solid #dc1e32
}

.select-roll .content {
    height: 9.6rem;
    overflow: hidden
}

.select-roll .content.five {
    height: 16rem
}



.select-roll .content.five:before {
    top: 50%;
    margin-top: -1.6rem
}

.select-roll .swiper-container {
    height: 100%
}

.select-roll .swiper-slide {
    height: 3.2rem;
    font-size: 1.4rem;
    line-height: 3.2rem;
    text-align: center;
    color: #a7aaac;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.select-roll .swiper-slide.swiper-slide-active {
    font-size: 1.6rem;
    color: #fff
}

.select-roll .confirm {
    width: 100%;
    border-top: 1px solid #5e5e5e;
    text-align: center;
    line-height: 4.4rem;
    font-size: 1.5rem;
    color: #fff
}

.select-roll .mask {
    z-index: 1
}

.select-roll .wrap {
    z-index: 2;
    background: rgba(0, 0, 0, .8)
}

.page-address .add-form {
    border: 1px solid #dadada;
    margin: 1rem;
    background: #fff;
    position: relative
}

.page-address .add-form li {
    border-top: 1px solid #dadada;
    padding: 1rem 0;
    position: relative;
    margin-left: 1.2rem
}

.page-address .add-form li input {
    width: 97.5%;
    height: 1.5rem;
    border: 0;
    padding: .5rem 0;
    padding-right: 2.5%;
    font-size: 1.4rem;
    line-height: normal
}

.page-address .add-form .user-tel {
    border: 0;
    overflow: hidden
}

.page-address .add-form .user-tel input {
    width: 90%;

}

.page-address .add-form .user-tel input.tel {
    width: 90%
}

.page-address .add-form .user-tel .user {
}

.page-address .add-form .select-area.cur-sor:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1
}

.page-address .add-form .select-area:after {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
    right: 1.4rem
}

.page-address .add-form .build .detail-address {
    width: 76.99%;
    height: auto;
    resize: none;
    border: 0;
    padding: .35rem 0;
    padding-right: 2.5%;
    font-size: 1.4rem;
    line-height: normal;
    color: #a9a9a9
}

.page-address .add-form .build .detail-address.black {
    color: #000
}

.page-address .add-form .build .ico-pos {
    position: absolute;
    top: 50%;
    right: 1.1rem;
    margin-top: -.8rem;
    font-size: 1.1rem;
    color: #dc1e32
}

.page-address .add-form.ico-before:before {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    -webkit-border-radius: 1.6rem;
    -moz-border-radius: 1.6rem;
    border-radius: 1.6rem;
    top: 50%;
    left: .8rem;
    margin-top: -.8rem;
    text-align: center;
    line-height: 1.6rem;
    font-size: 1rem;
    color: #fff
}

.page-address .add-form.ico-before li {
    margin-left: 3.5rem
}

.page-address .add-form.sending:before {
    content: "寄";
    background: #000
}

.page-address .add-form.receiving:before {
    content: "收";
    background: #db1e32
}

.page-address .att-contact {
    height: 1.5rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    line-height: 1.3rem;
    color: #666
}

.page-address .asso-list {
    margin: 0 1rem 5.4rem
}

.page-address .asso-list dt {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border-bottom: 1px solid #dadada
}

.page-address .asso-list dd {
    border-bottom: 1px solid #dadada;
    padding: .5rem .5rem .5rem 3rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.page-address .asso-list dd:last-child {
    border-bottom: 1px solid #dadada
}

.page-address .asso-list dd .name {
    float: left;
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 2rem
}

.page-address .asso-list dd .tel {
    float: right;
    font-size: 1.3rem;
    color: #5a5a5a;
    width: 40%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right
}

.page-address .asso-list dd .address {
    clear: both;
    padding-top: .3rem;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: #5a5a5a;
    overflow: hidden;
    word-wrap: break-word
}

.page-address .asso-list dd.bg {
    background: #fff;
    padding: 1rem 1rem 1rem 3rem
}

.page-address .asso-list.history-list dd {
    padding: 1rem 1rem 1rem 3rem
}

.page-address .asso-list.history-list dd .name {
    width: 55%
}

.page-address .asso-list dd:before {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    left: .5rem;
    margin-top: -1.2rem
}

.page-address .asso-list.history-list dd:before {
    top: .8rem;
    margin: 0;
    background: url(img/ico-48.png) no-repeat;
    background-size: 100% 2100%;
    background-position: 0 30%
}

.page-address .asso-list.build-list dd:before {
    background: url(img/ico-pos.png) no-repeat;
    background-size: 100% 300%;
    background-position: 0 50%
}

.page-address .confirm-single {
    background: #f2f2f2
}

.page-address .confirm-single .btn {
    margin-top: 1rem;
    background: #dc1e32;
    color: #fff
}

.page-address .input-to-select {
    z-index: 1;
    background: #f2f2f2;
    overflow-y: auto
}

.page-address .input-to-select .input {
    border: 1px solid #e6e6e6;
    margin: 1rem;
    background: #fff;
    overflow: hidden
}

.page-address .input-to-select .input .back {
    display: block;
    width: 4rem;
    height: 4rem
}

.page-address .input-to-select .input .back:before {
    content: "";
    position: absolute;
    width: .8rem;
    height: .8rem;
    top: 50%;
    border-top: .1rem solid #999;
    border-left: .1rem solid #999;
    margin-top: -.6rem;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
    margin-top: -.5rem;
    left: 1.5rem
}

.page-address .input-to-select .input .close {
    width: 4rem;
    height: 4rem;
    top: 0;
    right: 0
}

.page-address .input-to-select .input .close:before {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    top: 50%;
    left: 50%;
    margin: -.8rem 0 0 -.8rem;
    background: url(img/ico-close.png) no-repeat;
    background-size: 100% 200%;
    background-position: 0 100%
}

.page-address .input-to-select .input input {
    position: absolute;
    width: 75%;
    left: 2.8rem;
    top: 0;
    bottom: 0;
    border: 0;
    font-size: 1.4rem;
    line-height: 1.4rem;
    z-index: 1
}

.page-address .input-to-select .input .ico-pos {
    display: none;
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -.7rem;
    font-size: 1.1rem;
    color: #dc1e32
}

.page-address .input-to-select .input.show-nearby input {
    width: 65%
}

.page-address .input-to-select .input.show-nearby .ico-pos {
    display: block
}

.page-address .input-to-select .input.show-nearby .close {
    right: 4.5rem
}

.page-address .edit-address {
    margin: -1rem 1rem 1rem;
    display: inline-block
}

.page-address .edit-address.hide {
    display: none !important
}

.page-address .edit-address span.modify {
    background: #dc1e32;
    border: 1px solid #dc1e32 !important
}

.page-address .edit-address span.modify.isDefault {
    background: #b2b4b5;
    border: 1px solid #b2b4b5 !important
}

.page-address .edit-address span.modify:before {
    content: "";
    position: absolute;
    width: .4rem;
    height: .75rem;
    top: 51%;
    border-top: .17rem solid #fff;
    border-left: .17rem solid #fff;
    margin-top: -.3rem;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
    left: .45rem;
    margin-top: -.55rem
}

.page-address .edit-address span:first-child {
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #b2b4b5;
    bottom: -.3rem;
    margin-right: .4rem
}

.page-address .edit-address span:last-child {
    color: #5a5a5a
}

.page-address .edit-address span.cgColor {
    color: #dc1e32
}

.page-address-book.build-fixed .asso-list, .page-address-book.build-fixed .confirm-single-btn {
    display: none
}

.page-address-book .asso-list {
    margin: 0 1rem 1rem
}

.page-address-book .coin-more {
    display: block;
    text-align: center;
    margin: .5rem 0 6.4rem 0;
    color: #dc1e32;
    line-height: 3rem
}

.page-address-book .coin-more.hide {
    display: none
}

.page-address-book .add-form {
    margin: 1rem
}

.page-address-book .add-form li {
    padding: .9rem 0
}

.page-address-book .add-form .select-area input {
    width: 87.99%
}

.page-address-book .add-form .select-area:after {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
    right: 1.4rem
}

.page-address-book .add-form .build.show-near .nearly {
    display: block
}

.page-address-book .add-form .build.show-near .input {
    margin-right: 6rem
}

.page-address-book .add-form .build .nearly {
    position: absolute;
    top: 50%;
    right: 1rem;
    margin-top: -1.2rem;
    line-height: 2.4rem;
    color: #dc1e32
}

.page-address-book .add-form .build .input {
    resize: none;
    min-height: 1.5rem;
    border: 0;
    margin: 0;
    padding: .5rem 0;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #000;
    overflow: hidden;
    word-break: break-all;
    -webkit-appearance: none;
    outline: 0
}

.page-address-book .add-form .build .input:before {
    font-size: 1.3rem
}

@-webkit-keyframes buildfadein {
    0% {
        height: 0;
        opacity: .4
    }
    100% {
        height: 100%;
        opacity: 1
    }
}

@keyframes buildfadein {
    0% {
        height: 0;
        opacity: .4
    }
    100% {
        height: 100%;
        opacity: 1
    }
}

.page-address-book .address-build-fixed {
    position: fixed;
    width: 100%;
    max-width: 640px;
    min-width: 320px;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
    padding: 0;
    border: 0;
    background: #f2f2f2;
    overflow-y: auto;
    z-index: 99;
    -webkit-animation: buildfadein .7s ease;
    animation: buildfadein .7s ease
}

.page-address-book .address-build-fixed a {
    display: block
}

.page-address-book .address-build-fixed a.hide {
    display: none
}

.page-address-book .address-build-fixed a.a-text {
    float: left;
    line-height: 2.4rem
}

.page-address-book .address-build-fixed a.a-place:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #e5e5e5;
    z-index: 1
}

.page-address-book .address-build-fixed a.a-show {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -1.2rem;
    z-index: 2
}

.page-address-book .address-build-fixed a.a-show.total {
    right: 4.4rem;
    color: #a7aaac
}

.page-address-book .address-build-fixed a.clear {
    position: absolute;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    left: -2.4rem;
    margin-top: -1.2rem;
    z-index: 2
}

.page-address-book .address-build-fixed a.clear:before {
    content: "";
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    top: 50%;
    left: 50%;
    margin: -.8rem 0 0 -.8rem;
    background: url(img/ico-close.png) no-repeat;
    background-size: 100% 200%;
    background-position: 0 100%
}

.page-address-book .address-build-fixed a.sure {
    width: 4.8rem;
    text-align: center;
    color: #dc1e32
}

.page-address-book .address-build-fixed .input-box {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: .7rem;
    padding-right: 0;
    background: #e5e5e5;
    z-index: 10
}

.page-address-book .address-build-fixed .address-build {
    margin-right: 0;
    padding: .8rem;
    padding-right: 2.4rem;
    -webkit-border-radius: .4rem;
    border-radius: .4rem;
    background: #fff
}

.page-address-book .address-build-fixed .input {
    resize: none;
    min-height: 1.5rem;
    border: 0;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #000;
    overflow: hidden;
    word-break: break-all;
    -webkit-appearance: none;
    outline: 0
}

.page-address-book .address-build-fixed .input:before {
    line-height: normal
}

.page-address-book .address-build-fixed .build-list {
    display: block
}

.page-address-book .address-build-fixed .build-list.swiper-container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 5rem 0 0;
    overflow: hidden
}

.page-address-book .address-build-fixed .build-list.swiper-container .swiper-slide {
    height: auto
}

.page-address-book .confirm-single {
    background: #f2f2f2
}

.page-address-book .confirm-single .btn {
    margin-top: 1rem;
    background: #dc1e32;
    color: #fff
}

.page-address-book .btn-word-box {
    line-height: 2.4rem;
    margin: -.1rem 1rem 1.5rem
}

.page-address-book .btn-word-box .add-addr {
    display: inline-block;
    padding-left: 2rem;
    color: #5a5a5a
}

.page-address-book .btn-word-box .add-addr:before {
    content: "";
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: 50%;
    left: 0;
    margin-top: -.7rem;
    border: .1rem solid #b2b4b5;
    border-radius: 50%
}

.page-address-book .btn-word-box .add-addr.on:before {
    background: #dc1e32;
    border: .1rem solid #dc1e32
}

.page-address-book .btn-word-box .add-addr.on:after {
    content: "";
    position: absolute;
    width: .4rem;
    height: .7rem;
    top: 50%;
    border-top: .17rem solid #fff;
    border-left: .17rem solid #fff;
    margin-top: -.3rem;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
    left: .5rem;
    margin-top: -.5rem
}

.page-address-book .btn-word-box .add-addr.hide {
    display: none
}

.page-address-book .btn-word-box .all-delete {
    display: inline-block;
    color: #999;
    float: right;
    z-index: 1
}

.page-address-book .btn-word-box .all-delete.on {
    color: #dc1e32
}

.page-address-book .btn-word-box .all-delete.hide {
    display: none
}

.page-address-book .ntelligent-box {
    margin: 1rem;
    padding-top: 1.2rem;
    border: 1px solid #dadada;
    background: #fff
}

.page-address-book .ntelligent-box .ico-pull {
    width: 4rem;
    height: 4rem;
    position: absolute;
    right: 0;
    top: 0
}

.page-address-book .ntelligent-box .ico-pull:after {
    content: "";
    position: absolute;
    width: .8rem;
    height: .8rem;
    top: 50%;
    border-top: .1rem solid #888;
    border-left: .1rem solid #888;
    margin-top: -.6rem;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg);
    right: 1rem;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 2rem;
    margin-top: -.3rem
}

.page-address-book .ntelligent-box .ico-pull.put-away:after {
    right: 1rem;
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 2rem;
    margin-top: -.6rem
}

.page-address-book .ntelligent-box .ntelligent-tips {
    color: #666;
    font-size: 1.2rem;
    padding: 0 1rem
}

.page-address-book .ntelligent-box .ntelligent-tips:before {
    content: '';
    background: url(img/ico-PasteAddress.png) no-repeat center;
    background-size: 100%;
    width: 2.3rem;
    height: 100%;
    position: absolute
}

.page-address-book .ntelligent-box .ntelligent-tips p, .page-address-book .ntelligent-box .ntelligent-tips span {
    margin-left: 2.8rem
}

.page-address-book .ntelligent-box .ntelligent-tips span {
    font-size: 1.4rem
}

.page-address-book .ntelligent-box .ntelligent-tips p {
    font-size: 1.18rem;
    color: #555;
    margin-bottom: 1.18rem
}

.page-address-book .ntelligent-box .action-div .ntelligent-total {
    border: 1px solid #dadada;
    overflow: hidden;
    color: #bfbfbf;
    width: 88%;
    margin: 0 auto .5rem;
    padding: .6rem 1rem .6rem .8rem;
    height: 8.4rem
}

.page-address-book .ntelligent-box .action-div .ntelligent-total .ntelligent-input {
    font-size: 1.2rem;
    border: 0;
    line-height: 1.5rem;
    z-index: 1;
    resize: none;
    width: 100%;
    height: 6.5rem;
    max-height: 6.5rem
}

.page-address-book .ntelligent-box .action-div .ntelligent-total .word-num {
    font-size: 1.1rem;
    position: absolute;
    z-index: 1;
    right: .8rem;
    bottom: .4rem
}

.page-address-book .ntelligent-box .action-div .count-bottom {
    line-height: 3rem;
    margin-bottom: 1rem;
    overflow: hidden;
    padding-right: .8rem;
    font-size: 1.2rem
}

.page-address-book .ntelligent-box .action-div .count-bottom .dele-addr {
    color: #dc1e32;
    line-height: 3rem;
    display: inline-block;
    float: right;
    margin-right: 2rem
}

.page-address-book .ntelligent-box .action-div .count-bottom .dele-addr.hide {
    display: none
}

.page-address-book .ntelligent-box .action-div .count-bottom .pull-addr {
    float: right;
    padding: 0 1.4rem;
    color: #fff;
    background: #dc1e32
}

.page-address-book .ntelligent-box .action-div .count-bottom .pull-addr.gray {
    background: #d2d2d2
}

.page-address-book .ntelligent-box .action-div .count-bottom .IntelligentReality {
    display: inline-block;
    line-height: 2.8rem;
    padding: 0 1.4rem;
    margin-left: .8rem;
    border: 1px solid #d6d6d6;
    transition: all .2s ease-in;
    position: relative;
    overflow: hhidden
}

.page-address-book .ntelligent-box .action-div .count-bottom .IntelligentReality:active {
    background: #d6d6d6
}

.page-address-book .ntelligent-box .action-div .count-bottom .IntelligentReality input {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    display: inline-block;
    max-width: 100%;
    height: 100%
}

.page-address-book .ntelligent-box .action-div .count-bottom .viweImgBox {
    padding: .8rem 0 0 .8rem;
    height: auto
}

.page-address-book .ntelligent-box .action-div .count-bottom .viweImgBox img {
    width: 100%;
    display: inline-block
}

.page-address-book .ntelligent-box .done-action {
    -webkit-animation: scaleshow .4s ease;
    -moz-animation: scaleshow .4s ease;
    animation: scaleshow .4s ease
}
.click-right-arrow:after {
    content: "";
    position: absolute;
    width: .8rem;
    height: .8rem;
    top: 50%;
    border-top: .1rem solid #888;
    border-left: .1rem solid #888;
    margin-top: -.6rem;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    transform: rotate(135deg)
}
